{{ 'featured-products-custom.css' | asset_url | stylesheet_tag }}
{{ 'product-card-cutom.css' | asset_url | stylesheet_tag }}

<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<h2>{{ section.settings.heading }}</h2>
{% if section.blocks.size > 0 %}
  <div class="featured-products-custom__products">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'collection' %}
          {% for product in block.settings.collection.products %}
            {% assign scip_product = false %}
            {% if cart.item_count > 0 %}
              {% for item in cart.items %}
                {% if item.product_id == product.id %}
                  {% assign scip_product = true %}
                {% endif %}
              {% endfor %}
            {% endif %}
            {% unless scip_product %}
              {% render 'product-card-cutom', product: product %}
            {% endunless %}
          {% endfor %}
        {% when 'product' %}
          {% if cart.item_count > 0 %}
            {% for item in cart.items %}
              {% if item.product_id == product.id %}
                {% assign scip_product = true %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% unless scip_product %}
            {% render 'product-card-cutom', product: block.settings.product %}
          {% endunless %}
      {% endcase %}
    {% endfor %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Featured products",
  "tag": "section",
  "class": "featured-products-custom",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured products"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    },
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured products"
    }
  ]
}
{% endschema %}
